body {
    background-color: #b3e5fc;
}

a {
    text-decoration: none;
    color: #757575;
}

.admin {
    background-color: #fffdff;
    box-shadow: 10px 10px #757575;
}

.form {
    background-color: #fffdff;
    box-shadow: 10px 10px #757575;
    margin-left: 25px;
}

.choose-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.admin, .form {
    text-align: center;
    font-size: 40px;
    display: inline-block;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: #757575;
    width: 350px;
}

.intro-text {
    font-size: 22px;
}

h1 {
    margin-top: 4%;
    margin-left: 12%;
    font-size: 40px;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
    color: #757575;
    border-bottom: 1px solid;
}

.fields {
    position: absolute;
}

fieldset {
    background-color: #fffdff;
    border: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: #757575;
}

input {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fffdff;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #757575;
    width: 100%;
    padding-bottom: 8px;
}

select {
    width: 200px;
    margin: 0 auto;
    padding: 10px 15px;
    background: #fffdff;
    outline: none;
}

.semester select {
    border: 0px;
}

button {
    font-size: 15px;
    background-color: transparent;
    border: 1px solid;
    font-family: 'Josefin Sans', sans-serif;
    color: #757575;
    padding: 16px;
}

.next-button:hover, .back-button:hover, .add-field-button1:hover, .add-field-button2:hover, .add-field-button3:hover,
.add-field-button4:hover, .admin-btn:hover, .form-btn:hover, .remove_field1:hover,
.remove_field2:hover, .remove_field3:hover, .remove_field4:hover, .remove_field5:hover, .add-field-button5:hover,
.submit-button:hover, .query1-btn:hover, .query2-btn:hover, .query3-btn:hover, .query4-btn:hover, .query5-btn:hover,
.query6-btn:hover, .query7-btn:hover, .loadQuery1:hover, .loadQuery2:hover,
.loadQuery3:hover, .loadQuery4:hover, .loadQuery5:hover, .loadQuery6:hover, .loadQuery7:hover{
    box-shadow: 5px 5px #757575
}

.query1-btn, .query2-btn, .query3-btn, .query4-btn, .query5-btn, .query6-btn, .query7-btn{
    margin-top: 16px;

}

.page-footer {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #757575;
}

.container-main-field {
    padding: 30px;
    position: relative;
    background-color: #fffdff;
    margin-left: 11%;
    margin-right: 11%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: #757575;
    box-shadow: 10px 10px #757575
}

.obligatory-sign {
    color: red;
}

.field-info {
    font-size: 14px;
}

.section-info {
    font-size: 20px;
}

.back-button, .next-button {
    display: inline-block;
}

.submit-button {
}

.temp-page {
    background-color: #fffdff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: #757575;
}

.query1-btn, .query3-btn, .query2-btn, .query4-btn, .query5-btn, .query6-btn, .query7-btn{
    font-size: 20px;
    width: 100%;
}